* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

/*-----------------------GENERAL----------------------------*/
.titre {
    margin: 2vh;
    font-family: 'Avenir';
    text-align: center;
}
.sous-titre {
    text-align: center;
    margin: 3vh 0;
}

.flex {
    display: flex;
}
