* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

/*-----------------------GENERAL----------------------------*/

.sous-titre {
    text-align: center;
    margin: 3vh 0;
}
