footer {
    margin: 3vh;
    bottom: 0;
}

footer ul {
    display: flex;
    justify-content: space-around;
}

footer ul li a {
    text-decoration: none;
    color: black;
    font-family: "Avenir";
}
