/*-----------------------HOME---------------------------*/
.logo_home {
    margin-top: 3vh;
}

.container-presta {
    text-align: center;
} 

.container-presta ol li {
    font-family: "Abril FatFace";
    font-size: 25px;
    text-transform: uppercase;
    margin: 8vh 0;
}

.container-presta ol li:nth-child(even){
    margin-left: 45vw;
}

.container-presta ol li:nth-child(odd){
    margin-right: 35vw;
}

.callAction {
    display: flex;
    justify-content: space-between;
}

.marquise {
    font-size: 28px;
    margin-top: 10vh;
    margin-bottom: 10vh;
}

.section-realisation-home {
    text-align: center;
}

.section-realisation-home div {
    width: 40%;
    margin: 3vh auto;
}

.container-enjeux {
    margin: 10vh 0;
    text-align: center;
}

@media (max-width: 500px) {
    .logo_home img {
        width: 250px;
    }
}