.containerEnsemble {
    margin: 1vh 6vw;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 200px);
    column-gap: 10px;
    row-gap: 10px;
}

.card {
    text-align: center;
    align-self: center;
}

.card:nth-child(2){
    grid-column: 2 / 3;
}

.card:nth-child(3){
    grid-column: 3 / 4;
}

.card:nth-child(5){
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.card:nth-child(6){
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.card:nth-child(8){
    grid-column: 2 / 3;
    grid-row: 3 / 4;
}

.card:nth-child(9){
    grid-column: 3 / 4;
    grid-row: 3 / 4;
}

.card:nth-child(11){
    grid-column: 1 / 2;
    grid-row: 4 / 5;
}

.card:nth-child(12){
    grid-column: 2 / 3;
    grid-row: 4 / 5;
}

.card:nth-child(15){
    grid-column: 2 / 3;
    grid-row: 5 / 6;
}