.containerEnsemble {
    width: 80%;
    margin: auto;
}

.containerEnsemble p {
    font-family: 'Avenir';
    text-align: justify;  
    font-weight: 500;
    font-size: 18px;
    -webkit-columns: 2;
    -moz-columns: 2;
    columns: 2;
    -webkit-column-gap: 40px;
    -moz-column-gap: 40px;
    columns-gap: 40px;
}

.sectionConstructionProjet ol {
    text-align: center;
    counter-reset: my-awesome-counter;
}

.sectionConstructionProjet ol li {
    counter-increment: my-awesome-counter;
}

.sectionConstructionProjet ol li::before {
    content: "0" counter(my-awesome-counter);
    font-weight: bold;
    font-size: 3rem;
    margin-right: 0.5rem;
    font-family: 'Abril Fatface', serif;
    line-height: 1;
}