.carousel-root {
    margin: 8vh auto;
}

.carousel-slider img{
    margin: auto;
    max-width: 300px;
    max-height: 300px;
    min-height: 200px;
    min-width: 200px;
}

.carousel .thumbs {
    display: flex;
    justify-content: center;
}

.carousel .thumb {
    cursor: pointer;
    margin: 0 3px;
    height: 100px;
}

.carousel .thumb img {
    min-height: 90px;
    max-width: 200px;
}

.carousel-status {
    display: none;
}