@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");

@font-face {
  font-family: "felt";
  src: url("/src/fonts/FeltThat.ttf");
}

@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300&display=swap");
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
}

body {
  // height: 100vh;
  min-height: 100vh;
  min-height: -webkit-fill-available;
  width: 100%;
  overflow: hidden;
  // font-family: "abril";
  // font-family: "Abril Fatface", cursive;
  font-family: "Space Grotesk", sans-serif;
}

p {
  font-family: "Space Grotesk", sans-serif;
}

h2 {
  font-weight: 100;
}

article {
  padding: 18px;
}

header {
  height: calc(5vh - 18px);
  width: 100%;

  h1 {
    opacity: 0;
    animation: opacity 2s 1s forwards;
    animation-delay: 4s;
    font-size: clamp(1.5rem, 4vw, 2.5rem);
    font-weight: 200;
    margin: 0 15vw;
  }
}

main {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  height: 33vw;
  width: 33vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  animation: imageEnter 3s forwards;
  transition: all 1s ease-in-out;
}

.item {
  flex-basis: 50%;

  &:nth-child(1) {
    background: rgba(63, 81, 181, 0.6);
    order: 1;
    z-index: 1;
    background-image: url("../images/1.png");
    background-position: center;
    background-size: cover;
    animation: move 1s;
  }

  &:nth-child(2) {
    order: 2;
    background-image: url("../images/2.png");
    background-position: center;
    background-size: cover;
  }
  &:nth-child(3) {
    order: 3;
    background-image: url("../images/3.png");
    background-position: center;
    background-size: cover;
  }
  &:nth-child(4) {
    order: 4;
    background-image: url("../images/4.png");
    background-position: center;
    background-size: cover;
  }
}

footer {
  height: calc(15vh - 18px);
  width: 100%;

  section {
    display: flex;

    &:nth-child(1) {
      flex: 3;
      height: 80%;
      width: 100%;
      justify-content: space-around;
      div ul {
        display: flex;
        margin-top: 8px;
        justify-content: space-evenly;

        li {
          transition: transform opacity 0.5s ease-in-out;
          animation: textEnter 0.8s forwards;
          opacity: 0;

          &:nth-child(1) {
            animation-delay: 1.5s;
          }
          &:nth-child(2) {
            animation-delay: 2s;
          }
        }
      }
      div div p {
        transition: transform opacity 0.5s ease-in-out;
        animation: textEnter 0.8s forwards;
        opacity: 0;

        &:first-child {
          margin-top: 8px;
          animation-delay: 2.5s;
        }

        &:nth-child(2) {
          animation-delay: 3s;
        }
      }
    }

    &:nth-child(2) {
      flex: 1;
      justify-content: space-around;
      height: 20%;

      p {
        animation: opacity 2s 1s forwards;
        animation-delay: 3.5s;
        opacity: 0;
      }

      p:nth-child(2) {
        margin-left: auto;
      }
    }

    h2 {
      opacity: 0;
      animation: opacity 2s 1s forwards;
      // transition: opacity 3s ease-in-out;
    }
  }
}

@keyframes imageEnter {
  from {
    opacity: 0;
    // height: 0;
    // width: 0;
  }
  to {
    opacity: 1;
    // height: 33vw;
    // width: 33vw;
  }
}

@keyframes textEnter {
  from {
    opacity: 0;
    transform: translate(0, 250%);
  }
  to {
    opacity: 1;
    transform: translate(0, 0);
  }
}

@keyframes opacity {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@mixin test() {
  @keyframes move {
    from {
      transform: translate(-50%, 100%);
    }
    to {
      transform: translate(0, 0);
    }
  }
}

@media screen and (max-width: 399px) {
  .container {
    height: 45vw;
    width: 45vw;
  }

  p {
    font-size: 12px;
  }
}

.little {
  font-size: 10px;
}
