/*--------------------------GENERAL--------------------------*/
.form-field {
    padding: 2vh;
    margin: 5vh auto;
    display: flex;
    justify-content: space-evenly;
}

.form-field p,
label {
    font: 1rem 'Fira Sans', sans-serif;
}

.form-field legend {
    font: 1.4rem 'Abril FatFace', sans-serif;
    font-weight: 500;
    text-align: center;
}

.form-field input {
    margin: .4rem;
}

/*--------------------------DUREE--------------------------*/

.field-duree {
    width: 85%;
}

/*--------------------------PARTICIPANT--------------------------*/

.field-nbr-participant {
    width: 75%;
}

/*--------------------------SESSION--------------------------*/

.field-nbr-session {
    width: 95%;
    text-align: center;
}

@media (max-width: 768px) {
    .field-nbr-session label {
        font-size: 15px;
    }
}

/*--------------------------TYPE DE JEU--------------------------*/

.field-type-jeu {
    padding: 1vh;
    width: 95%;
    text-align: center;
}

/*--------------------------DIFFICULTE--------------------------*/

.field-difficulte {
    width: 90%;
}

/*--------------------------HANDICAP--------------------------*/

.field-handicap {
    width: 95%;
}

/*--------------------------BUDGET--------------------------*/

.field-budget {
    width: 85%;
}

/*--------------------------LIEU--------------------------*/

.field-lieu {
    width: 90%;
}

/*--------------------------ZONE GEOGRAPHIQUE--------------------------*/

.field-zone-geographique {
    width: 95%
}

/*--------------------------ENJEUX--------------------------*/

.field-enjeux {
    width: 99%;
    text-align: center;
}

@media (max-width: 400px) {
    .form-fabrique fieldset {
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

/*--------------------------THEME--------------------------*/

.field-theme {
    text-align: center;
    width: 45%;
}

/*--------------------------ANIMATION--------------------------*/

.field-animation {
    text-align: center;
    width: 55%;
}

/*--------------------------CONTENU--------------------------*/

.field-contenu-numerique {
    width: 90%;
    text-align: center;
}


.field-nbr-session div, .field-type-jeu div, .field-handicap div, .field-budget div, .field-lieu div, .field-zone-geographique div, .field-enjeux div, .field-theme div,
.field-animation div, .field-contenu-numerique div {
    display: flex;
    flex-direction: column;
}

.container-themeAnim {
    display: flex;
}



