.form-field {
    padding: 2vh;
    margin: 5vh auto;
    display: flex;
    justify-content: space-evenly;
}

.form-field p,
label {
    font: 1rem 'Fira Sans', sans-serif;
}

.form-field legend {
    font: 1.4rem 'Abril FatFace', sans-serif;
    font-weight: 500;
    text-align: center;
}

.form-field input {
    margin: .4rem;
}

.field-duree {
    width: 45%;
}

.field-nbr-participant {
    width: 45%;
}


