nav {
    padding: 0 1vh;
}
nav ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav ul li a{
    text-decoration: none;
    color: black;
    font-family: "Avenir";
}

@media (max-width: 768px) {
    nav ul li a {
        font-size: 14px;
        width: 50%;
    }

}


