nav {
    padding: 0 3vh;
}
nav ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav ul li a{
    text-decoration: none;
    color: black;
    font-family: "Avenir";
}


